<div class="demo-card-wide mdl-card mdl-shadow--2dp">
	<div class="mdl-card__title">
		<h2 class="mdl-card__title-text">Create a Shelter</h2>
	</div>
	
	<div class="mdl-card__supporting-text">
		Please enter the information about your shelter.<br>
		You can enter the wishlist info on the next page.
		<br>
		<br>
		
		<%= form_for([@user, @shelter]) do |f| %>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<%= f.label :name, "Name", class: "mdl-textfield__label" %>
				<%= f.text_field :name, class: "mdl-textfield__input" %>
				
				<% if @shelter.errors[:name] %>
					<span class="field_with_errors"><%= @shelter.errors[:name].to_sentence %></span>
				<% end %>
			</div>
			
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<%= f.label :city, "City", class: "mdl-textfield__label" %>
				<%= f.text_field :city, class: "mdl-textfield__input" %>
				<% if @shelter.errors[:city] %>
					<span class="field_with_errors"><%= @shelter.errors[:city].to_sentence %></span>
				<% end %>				
			</div>
			
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<%= f.label :state, "State", class: "mdl-textfield__label" %>
				<%= f.text_field :state, class: "mdl-textfield__input" %>
				<% if @shelter.errors[:state] %>
					<span class="field_with_errors"><%= @shelter.errors[:state].to_sentence %></span>
				<% end %>								
			</div>
			
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<%= f.label :ein, "Employee Identification Number", class: "mdl-textfield__label" %>
				<%= f.text_field :ein, class: "mdl-textfield__input" %>
				<% if @shelter.errors[:ein].to_sentence != "" %>
					<span class="field_with_errors"><%= "EIN " + @shelter.errors[:ein].to_sentence %></span>
				<% end %>
			</div>
			
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<%= f.label :shelter_type, "Shelter Type:", class: "mdl-textfield__label" %>
				<%= f.select :shelter_type, options_for_select(Shelter::SHELTER_TYPES), {label: "Shelter Type:"}, {class:	 "mdl-textfield__input"} %>
			</div>

			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<label class="mdl-textfield__label">Shelter Description</label>
				<textarea class="mdl-textfield__input" type="text", name="shelter[description]", id="shelter_description"></textarea>
			</div>
			
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<label class="mdl-textfield__label">Website URL</label>
				<%= f.text_field :website_url, class: "mdl-textfield__input" %>
				
			</div>
		
			<div class="mdl-card__actions mdl-card--border">
				<%= submit_tag "Create Shelter", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" %>
			</div>
		<% end %>
	</div>
</div>
