<h1><%= @shelter.name %></h1>
<p>City: <%= @shelter.city %></p>
<p>State: <%= @shelter.state %></p>
<p>Shelter Type: <%= @shelter.shelter_type %></p>
<p>Description:</p>
<p><%= @shelter.description %></p>
<p>Website: <%= link_to @shelter.name, @shelter.website_url, target: "_blank" %></p>