<div class="demo-card-wide mdl-card mdl-shadow--2dp">
	<div class="mdl-card__title">
		<h2 class="mdl-card__title-text">Login</h2>
	</div>
	
	<div class="mdl-card__supporting-text">
		Please enter your login information, or login via Facebook.
	
		<br>
		<%= form_tag(sessions_path) do %>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<%= label_tag :email, "Email", class: "mdl-textfield__label" %>
				<%= text_field_tag :email, "", class: "mdl-textfield__input" %>
			</div>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<%= label_tag :password, "Password", class: "mdl-textfield__label" %>
				<%= text_field_tag :password, "", type: "password", class: "mdl-textfield__input" %>
			</div>
			<div class="mdl-card__actions">
					<%= submit_tag "Login", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
					<br>
					<br>
					<%= link_to('Login w/ Facebook', '/auth/facebook') %>		
			</div>
		<% end %>
	</div>
</div>
